* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 13px;
    background-color: white;
}

h1, h2, h3 {
    font-family: arial !important;
    color: #09448b !important;
}

h1 {
    font-size: 180%;
}

ol {
    background-color: #fafafa !important;
}

em {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    color: white;
    background-color: #09448b !important;
    font-style: italic;
    font-weight: bold;
}

.ms-rtestate-field TABLE, .ms-rtestate-write TABLE {
    border-collapse: initial;
    font-size: larger;
    border-spacing: 10px;
}

.ms-rteTable-4 {
    width: 100%;
    background-color: #fafafa !important;
    border:5px solid ghostwhite !important
}

.ms-rteTableEvenCol-4 {
    padding: 10px;
    border: solid 5px #ffffff !important;
    width: auto !important;
    text-align: left !important;
    background-color: #fafafa;
}

.ms-rteTableOddCol-4 {
    padding: 10px;
    border: solid 5px #ffffff !important;
    width: 500px !important;
    text-align: center !important;
    background-color: #fafafa;
}

.ms-rteTable-4, .ms-rteTable-4 > tbody > tr > td {
    text-align: left;
}

.ms-rteTable-4 > tbody > tr > th {
    text-align: center;
}

.ms-rteImage-3 {
    margin: 10px !important;
    background-color: #fafafa !important;
    border: 1px solid #09448b;
    box-shadow: 5px 6px 8px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 3px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 8px 4px rgba(0,0,0,0.75);
    width: 400px !important;
    height: auto !important;
}